/* --------------------------------- */
/* 'contact-us' section styles START */
/* --------------------------------- */

.contact-us-wrapper {
  padding: 110px 0 130px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us {
  
  &__title {
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 37px;
    color: $black-carbon;
  }
  &__form {
    margin-top: 56px;
    width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text-input {
      width: 100%;
      border: none;
      border-bottom: 1px solid lightgrey;
      height: 40px;
      outline-style: none;
      margin-bottom: 45px;
      
      &::placeholder {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: $black-carbon;
      }
    }
    &__submit {
      background-color: $color-link-red;
      padding: 13px 31px 13px 31px;
      border: none;
      border-radius: 22px;
      /* --------------- */
      color: white;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      transition: all 0.25s ease-in-out;

      &:hover {
        background-color: white;
        color: $color-link-red;
        box-shadow: 0 0 10px $color-link-red;
        transition: all 0.2s ease-in-out;
      }
    }

  }
}