/* ---------------------------------- */
/* 'header-hero-section' styles START */
/* ---------------------------------- */
.header-hero-section {
  background-image: url('../assets/img/headphones_hero_1.jpg');
  background-position-x: -383px;
  background-position-y: -40px;
  background-repeat: no-repeat;
  background-color: #071629;
  background-size: cover;
  height: 869px;
  /* ------------- */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 20px 0 20px;
  position: relative;

  &__burger {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    position: relative;

    &__wrapper {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      cursor: pointer;
      z-index: 2;
    }

    &__line {
      width: 13px;
      height: 2px;
      background-color: white;
      border-radius: 4px;
      transition: all 0.2s ease-in-out;
      
      &::before, &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: white;
        border-radius: 4px;
        transform: translateY(-6.5px);
        transition: all 0.2s ease-in-out;
      }

      &::after {
        transform: translateY(6.5px);
      }
    }
  }

  &__logo {
    position: absolute;
    left: 32% ;
    &__img {
      width: 180px;
      margin-right: 17vw;
    }
  }
  
  &__menu {
    position: absolute;
    left: 0;
    bottom: -110px;
    width: 100%;
    opacity: 0;
    transition: all 0.25s ease-in-out;

    &__ul {
      display: flex;
      flex-direction: column;
      height: 140px;
    }

    &__li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }
    &__a {
      text-decoration: none;
      font-weight: bold;
      text-align: center;
      color: white;
      margin-bottom: 40px;
      display: inline-block;
      transition: all 0.2s ease-in-out;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        color: $color-link-red;
        transition: all 0.2s ease-in-out;
      }
    }
  }

}

.header--active {

  .header {

    &__menu {
      bottom: -180px;
      opacity: 1;
      transition: all 0.25s ease-in-out;
    }

    &__burger {
      &__line {
        width: 0;
        &::before {
          transform: rotate(45deg);
          transition: all 0.2s ease-in-out;
        }
        &::after {
          transform: rotate(-45deg);
          transition: all 0.2s ease-in-out;
        }
        transition: all 0.2s ease-in-out;
      }
    }
  }

}

.hero {
  margin-top: 243px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title, &__subtitle {
    font-weight: bold;
    text-align: center;
    color: white;
  }
  &__title {
    font-size: 32px;
    line-height: 40px;
  }
  &__subtitle {
    margin-top: 7px;
    font-size: 16px;
    line-height: 20px;
    width: 279px;
  }
  &__button {
    margin-top: 20px;
    padding: 13px 31px;
    border-radius: 22px;
    text-decoration: none;
    background-color: $color-link-red;
    /* ---------------------------- */
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: white;
      color: $color-link-red;
      transition: all 0.2s ease-in-out;
    }
  }

  &__text {
    margin: 65px 20px 106px 20px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: white;
  }

}

@media only screen and (min-width: 768px) {

  .header-hero-section {
    background-position-x: -343px;
    background-position-y: 0px;
  }

  .header {
    padding: 30px 25px 0 25px;
    justify-content: left;

    &__burger {
      display: none;
    }

    &__logo {
      position: initial;
      
      &__img {
        margin-right: 100px;
      }
      
    }

    &__menu {
      position: initial;
      opacity: 1;

      &__ul {
        flex-direction: row;
        height: 0px;
      }

      &__li {
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 0;
        width: 100%;
      }
      
      &__a {
        text-align: right;
        color: white;
      }
    }

  }


  .hero {

    &__title {
      margin-top: 95px;
    }
    &__subtitle {
      width: auto;
    }
    &__button {
      margin-top: 40px;
    }
    &__text {
      margin-top: 65px;
      width: 637px;
    }
  }


}

@media only screen and (min-width: 1200px) {

  .header {
    width: 1200px;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .header-hero-section {
    background-position-x: 0px;
    background-position-y: 0px;

    &__wrapper {
      max-width: 1200px;
    }
  }

  .header {
    padding: 30px 200px 0 200px;
    justify-content: space-between;

    &__menu {
      width: 40%;
    }

  }

}

@media only screen and (min-width: 1400px) {

  .header {
    width: 1400px;
  }

  .header-hero-section {
    &__wrapper {
      min-width: 1400px;
    }
  }

}